
@import url("ionicons.min.css");

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #444444;
}

body {
    font-size: 1em;
    line-height: 1.5;
    font-family: 'Helvetica Neue', Helvetica, Arial;
}

::-moz-selection {
    background: #00aced;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #00aced;
    color: #ffffff;
    text-shadow: none;
}

a {
    color: #00aced;
    text-decoration: none;
}
a:hover {
    color: #44ccff;
    text-decoration: underline;
}

i, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.container {
    display: block;
    width: 100%;
    margin: 0 auto;
}

nav {
    background-color: #444444;
    z-index: 100;
}

nav .container {

}

nav #logo {
    margin: -0.25em 0;
    width: 1.5em;
    height: 1.5em;
    display: block;
    float: left;
}

.title {
    font-weight: 100;
    margin: 0;
    text-align: center;
}

.title a {
    color: white;
    text-decoration: none;
}

.download {
    background-color: #00aced;
    color: #ffffff;
    display: inline-block;
    padding: 0.5em 1em 0.5em 0.5em;
    border-radius: 120px;
    font-size: 1.3em;
    font-weight: 100;
    text-decoration: none;
    line-height: 1;
    text-align: left;
    margin: 0 1em 1em 1em;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.download:hover {
    color: #ffffff;
    background-color: #44ccff;
}

.download i {
    color: inherit;
    font-size: 2.5em;
    line-height: 1;
    float: left;
    margin-right: 0.2em;
    background: inherit !important;
    cursor: inherit;
}
.download span {
    margin-top: 0.3em;
    display: inline-block;
}

.download small {
    font-size: 0.65em;
    display: block;
    opacity: 0.5;
    line-height: 1;
    font-weight: 400;
    text-decoration: none;
}
.download:hover small {
    text-decoration: none;
}
.download.unsupported {
    display: none;
    text-align: center;
    width: 30%;
    border: thin solid #cccccc;
    padding: 1em 2em;
    background: none;
    color: inherit;
    font-size: inherit;
    cursor: default;
    text-decoration: none;
    white-space: normal;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul a {
    display: block;
    /*margin-bottom: 10px;*/
    /*padding: 15px 0;*/

    text-align: center;
    text-decoration: none;
    /*font-weight: bold;*/

    color: white;
    border-top: 4px solid transparent;
}

nav ul a:hover {
    color: #ffffff;
    border-color: #ffffff;
    text-decoration: none;
    background-color: rgba(255,255,255,0.25);
}

nav ul li.selected a {
    /*text-decoration: underline;*/
    border-color: #00aced;
}

header {
    padding-top: 64px;
    color: #ffffff;
}

header .bg {
    position: fixed;
    top: -48px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center -48px;
    /*background-attachment: fixed;*/
    background-image: url('/img/home.jpg');
}

header h1 {
    font-size: 128px;
    font-weight: 100;
    text-transform: uppercase;
}

header .preview {
    margin: 48px auto 0 auto;
    padding: 0 16px;
}

header .preview img {
    width: 100%;
    max-width: 716px;
    margin: 0 auto -64px auto;
    box-shadow: 0 0 64px 0px rgba(0,0,0,0.5);
}

section, footer {
    padding: 32px 0;
}

section {
    background-color: #ffffff;
    text-align: center;
}

section .container, footer .container {
    border-top: thin solid #cccccc;
}

section#overview {
    padding-top: 64px;
    text-align: center;
    /*background-color: #eeeeee;*/
}

section#overview .container {
    border-top: none;
}

section#downloads .more {
    display: block;
}

section .block {
    margin-top: 32px;
    padding: 0 16px;
}

section .block i {
    font-size: 48px;
    line-height: 1;
    color: #00aced;
    background-color: transparent;
    margin: 0;
}

section .block h3 {
    font-size: 15px;
    margin: 0.5em;
}

section .block p {
    width: 70%;
    font-size: 14px;
    font-weight: 300;
    /*color: #aaaaaa;*/
    text-align: center;
}

section .block a {
    font-size: 14px;
    text-decoration: none;
    color: #00aced;
    font-weight: 500;
    margin-top: 1em;
    display: inline-block;
}

section .block a:after {
    content: ' \25be';
}

section .block a:hover {
    color: #44ccfd;
}

section.feature > .container > i {
    font-size: 64px;
    color: #ffffff;
    /*display: block;*/
    margin: -40px auto 0 auto;
    background-color: #00aced;
    border-radius: 50%;
    padding: 8px;

}

section h2 {
    text-align: center;
}

section p {
    font-weight: 300;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.01pc;
    text-align: left;
    width: 70%;
    margin: 0 auto;
    color: #444444;
}

section img {
    display: inline-block;
    max-width: 90%;
    margin: 32px auto 0 auto;
    box-shadow: 0 0 64px 0px rgba(0,0,0,0.5);
}

section img.inline {
    display: inline-block;
    box-shadow: 0 0 32px -8px rgba(0,0,0,0.5);
    border-radius: 50%;
    margin: 32px 32px 0 32px;
    border: 4px solid #cccccc;
}

footer {
    background-color: #ffffff;
    /*color: #cccccc;*/
}

footer h2 {
    width: 5em;
    line-height: 1.2;
    text-align: center;
    margin: -0.67em auto 1.33em auto;
    background-color: #ffffff;
}

footer section {
    background: none;
    padding: 0;
}

footer h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

footer a {
    color: #888888;
    text-decoration: none;
}

footer a:hover {
    /*text-decoration: underline;*/
    color: #00aced;
}

footer ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

section.copyright {
    clear: both;
    background-color: #333333;
    color: #666666;
    padding: 0;
    text-align: center;
    display: none;
}

section.copyright .container {
    /*border-top: ;*/
}

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    .download {
        font-size: 1.6em;
    }

    nav {
        background-color: rgba(255,255,255,0.15);
        position: absolute;
        width: 100%;
    }

    nav .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    nav .container::after {
        content: '';
        display: block;
        clear: both;
    }

    nav .title {
        font-size: 30px;
        line-height: 1;
        float: left;
        margin: 0;
        padding: 14px 16px;
    }

    nav ul {
        float: right;
        /*width: 38%;*/
    }

    nav ul a {
        float: left;
        /*width: 27%;*/
        margin: 0;
        padding: 16px;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    nav ul li {
        display: inline;
    }

    section .block {
        display: inline-block;
        vertical-align: top;
        width: 40%;
        text-align: center;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

    .download {
        font-size: 2em;
    }

    .container {
        width: 768px;
        /*padding: 16px;*/
    }

    section .block {
        width: 28%;
    }
    section .block p {
        width: 100%;
    }

    footer ul {
        padding: 0;
        margin-bottom: 32px;
        font-size: 14px;
    }

    footer ul.social {
        font-size: 32px;
    }

    footer ul li {
        display: inline-block;
        margin: 0 32px;
        font-weight: 500;
    }

    footer h3,
    footer section {
        float: left;
        width: 192px;
    }

    footer .container::after {
        content: '';
        display: block;
        clear: both;
    }
}

@media only screen and (min-width: 1140px) {

    .container {

    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
