---
layout: default
title: QuickHAC FAQ
---

<header>
    <div class="bg" style="background-image: url('/img/home.jpg');"></div>
    <div class="container">
        <h1>FAQ</h1>
        <p>Frequently Asked Questions</p>
    </div>
</header>

<section class="cards-bg">
	<div class="container">
		<div class="card">
			<h2>Index</h2>
			<ul class="plain">
				{% for question in site.data.faq %}
				<li><a href="#{{question.hash}}">{{question.q}}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% for question in site.data.faq %}
		<div class="card" id="{{question.hash}}">
			<h2>{{ question.q }}</h2>
			<p>{{ question.a | markdownify }}</p>
		</div>
		{% endfor %}
	</div>
</section>
