---
layout: default
title: QuickHAC ~ FAQ
---

{% include header.html bg="home.jpg" title="FAQ" subtitle="Frequently Asked Questions" %}

<section class="cards-bg">
	<div class="container">
		<div class="card">
			<h2>Index</h2>
			<ul class="plain">
				{% for question in site.data.faq %}
				<li><a href="#{{question.hash}}">{{question.q}}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% for question in site.data.faq %}
		<div class="card" id="{{question.hash}}">
			<h2>{{ question.q }}</h2>
			<p>{{ question.a | markdownify }}</p>
		</div>
		{% endfor %}
	</div>
</section>
