---
layout: default
title: QuickHAC Blog
---

{% include header.html bg="blog.png" title="Blog" %}

<section class="cards-bg">
    <div class="container">
    {% for post in site.posts %}
        <div class="card">
            <time datetime="{{ post.date | date_to_xmlschema}}">{{ post.date | date_to_string }}</time>
            <h2>{{ post.title }}</h2>
            <p>{{ post.excerpt }}</p>
            <a href="{{ post.url }}">Continue reading &raquo;</a>
        </div>
    {% endfor %}
    </div>
</section>
