---
layout: default
title: QuickHAC Blog
---

<header>
    <div class="bg" style="background-image: url('/img/blog.png');"></div>
    <div class="container">
        <h1>Blog</h1>
        <p></p>
    </div>
</header>

<section>
	<div class="container">
		<article>
			<h1>{{ page.title }}</h1>
			<p class="meta">
				{% if page.author %}
				By <span class="author">{{page.author}}</span> on
				{% endif %}
				<time datetime="{{page.date | date_to_xmlschema}}">
					{{ page.date | date_to_long_string }}
				</time>
			</p>

			<div class="post">
			{{ content }}
			</div>
		</article>
	</div>
</section>
